/* General Demo Style */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

@font-face {
    font-family: 'majesti_banner_lightitalicRg';
    src: url('../../fonts/majestibannerlightitalic-webfont.eot');
    src: url('../../fonts/majestibannerlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/majestibannerlightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/majestibannerlightitalic-webfont.woff') format('woff'),
         url('../../fonts/majestibannerlightitalic-webfont.svg#majesti_banner_lightitalicRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Majesti Banner Light', 'Georgia', serif;
	color: #fff;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffbba+27,b6f9e4+67,10a4c9+100 */

background: #fffbba; /* Old browsers */

background: -moz-linear-gradient(top,  #fffbba 27%, #b6f9e4 67%, #10a4c9 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  #fffbba 27%,#b6f9e4 67%,#10a4c9 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  #fffbba 27%,#b6f9e4 67%,#10a4c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbba', endColorstr='#10a4c9',GradientType=0 ); /* IE6-9 */

}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
}

/* Header Style */
.codrops-top {
	text-transform: none;
	position: relative;
	z-index: 1000;
	font-size: 0.68em;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: rgba(255,255,255,0.2);
	display: inline-block;
}

.codrops-top a:hover {
	color: rgba(255,255,255,0.9);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}
